In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa

dir = './data'
file = '2021_Final_Assisted_Reproductive_Technology__ART__Summary_20240307.csv'

df = pd.read_csv(f'{dir}/{file}')
df.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'FacilityName',
       'MedicalDirector', 'Address', 'City', 'ZipCode', 'Phone',
       'Clinic Status', 'Topic', 'SubTopic', 'Question', 'Breakout_Category',
       'Breakout', 'Data_Value', 'data_value_num',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Cycle_Count',
       'ClinicId', 'DisplayOrder', 'TopicId', 'SubTopicId', 'QuestionId',
       'BreakoutCategoryId', 'BreakoutId', 'Geolocation'],
      dtype='object')

In [2]:

cols_to_use = ['Year', 'LocationAbbr', 'LocationDesc', 'FacilityName',
               'ClinicId', 'Question', 'QuestionId',
               'data_value_num', 'Breakout_Category', 'Breakout'
               ]
df = df[cols_to_use]

print(df['Question'].drop_duplicates().to_string())

0                                      Data Verified By:
1                          Number of intended retrievals
5      Average number of intended retrievals per live...
9      Percentage of intended retrievals resulting in...
13     Percentage of intended retrievals resulting in...
17                                  Number of retrievals
21     Percentage of retrievals resulting in live-bir...
25     Percentage of retrievals resulting in singleto...
29                                   Number of transfers
33     Percentage of transfers resulting in live-birt...
37     Percentage of transfers resulting in singleton...
41     Percentage of new patients having live-birth d...
45     Percentage of new patients having live-birth d...
49     Percentage of new patients having live-birth d...
53     Average number of intended retrievals per new ...
57     Average number of transfers per intended retri...
73                                Total number of cycles
78     Percentage of intended egg retrieval cycles wi...
83     Percentage of cycles discontinued after retrie...
88       Percentage of cycles for fertility perservation
93     Percentage of transfers using a gestational ca...
98          Percentage of transfers using frozen embryos
103    Percentage of transfers of at least 1 embryo w...
108    Percentage of transfers of at least 1 embryo w...
113                                   Donor egg services
114                              Donated embryo services
115                     Embryo cryopreservation services
116                        Egg cryopreservation services
117                         Gestational carrier services
118                                          SART member
119                           Verified lab accreditation
120                                          Male factor
121                                        Endometriosis
122                                         Tubal factor
123                                Ovulatory dysfunction
124                                       Uterine factor
125                      Preimplantation genetic testing
126                                  Gestational carrier
127                           Diminished ovarian reserve
128                                Egg or embryo banking
129                             Recurrent pregnancy loss
130                            Other factor, infertility
131                        Other factor, non-infertility
132                                   Unexplained factor
133                     Cycles evaluating new procedures

In [3]:
df.loc[:, ['ClinicId', 'QuestionId']].drop_duplicates().groupby('ClinicId').count()

          QuestionId
ClinicId
1                 48
2                 48
3                 48
4                 48
6                 48
...              ...
889               48
892               48
899               48
921               48
9999              45

[454 rows x 1 columns]

In [4]:
by_state_counts = (df.loc[:, ['ClinicId', 'LocationAbbr']].drop_duplicates()
                     .groupby('LocationAbbr').count().sort_values(by='ClinicId')
                   )
print(by_state_counts.iloc[:10, :])
print(by_state_counts.iloc[-2:,:])

              ClinicId
LocationAbbr
AK                   1
AR                   1
SD                   1
RI                   1
NH                   1
ND                   1
MT                   1
ME                   1
ID                   1
VT                   2
              ClinicId
LocationAbbr
NY                  45
CA                  78

In [5]:
qs = df[['QuestionId', 'Question']].drop_duplicates()
with pd.option_context('display.max_colwidth', None):
    print(qs.to_string(index=False))
    print(qs.query('Question.str.contains("after 1")').to_string())

QuestionId                                                                                 Question
      Q400                                                                        Data Verified By:
      Q301                                                            Number of intended retrievals
      Q302                            Average number of intended retrievals per live-birth delivery
      Q303                     Percentage of intended retrievals resulting in live-birth deliveries
      Q304           Percentage of intended retrievals resulting in singleton live-birth deliveries
      Q305                                                                     Number of retrievals
      Q306                              Percentage of retrievals resulting in live-birth deliveries
      Q307                    Percentage of retrievals resulting in singleton live-birth deliveries
      Q308                                                                      Number of transfers
      Q309                               Percentage of transfers resulting in live-birth deliveries
      Q310                     Percentage of transfers resulting in singleton live-birth deliveries
      Q311       Percentage of new patients having live-birth deliveries after 1 intended retrieval
      Q312 Percentage of new patients having live-birth deliveries after 1 or 2 intended retrievals
      Q313    Percentage of new patients having live-birth deliveries after all intended retrievals
      Q314                                    Average number of intended retrievals per new patient
      Q315                                       Average number of transfers per intended retrieval
      Q316                                                                      Number of transfers
      Q317                               Percentage of transfers resulting in live-birth deliveries
      Q318                     Percentage of transfers resulting in singleton live-birth deliveries
      Q319                                                                   Total number of cycles
      Q320                   Percentage of intended egg retrieval cycles without any eggs retrieved
      Q321         Percentage of cycles discontinued after retrieval and before transfer or banking
      Q322                                          Percentage of cycles for fertility perservation
      Q323                                      Percentage of transfers using a gestational carrier
      Q324                                             Percentage of transfers using frozen embryos
      Q325       Percentage of transfers of at least 1 embryo with intracytoplasmic sperm injection
      Q326        Percentage of transfers of at least 1 embryo with preimplantation genetic testing
      Q327                                                                       Donor egg services
      Q328                                                                  Donated embryo services
      Q329                                                         Embryo cryopreservation services
      Q330                                                            Egg cryopreservation services
      Q332                                                             Gestational carrier services
      Q333                                                                              SART member
      Q334                                                               Verified lab accreditation
      Q335                                                                              Male factor
      Q336                                                                            Endometriosis
      Q337                                                                             Tubal factor
      Q338                                                                    Ovulatory dysfunction
      Q339                                                                           Uterine factor
      Q340                                                          Preimplantation genetic testing
      Q341                                                                      Gestational carrier
      Q342                                                               Diminished ovarian reserve
      Q343                                                                    Egg or embryo banking
      Q344                                                                 Recurrent pregnancy loss
      Q345                                                                Other factor, infertility
      Q346                                                            Other factor, non-infertility
      Q347                                                                       Unexplained factor
      Q399                                                         Cycles evaluating new procedures
   QuestionId                                                                                  Question
41       Q311        Percentage of new patients having live-birth deliveries after 1 intended retrieval
45       Q312  Percentage of new patients having live-birth deliveries after 1 or 2 intended retrievals

In [6]:
df.query('QuestionId == "Q311"')

,Year,LocationAbbr,LocationDesc,FacilityName,ClinicId,Question,QuestionId,data_value_num,Breakout_Category,Breakout
41,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...",241,Percentage of new patients having live-birth d...,Q311,49.0,Age of Patient,<35
42,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...",241,Percentage of new patients having live-birth d...,Q311,40.0,Age of Patient,35-37
43,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...",241,Percentage of new patients having live-birth d...,Q311,24.3,Age of Patient,38-40
44,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...",241,Percentage of new patients having live-birth d...,Q311,11.5,Age of Patient,>40
175,2021,IL,Illinois,Vios Fertility Institute-Crest Hill,261,Percentage of new patients having live-birth d...,Q311,48.0,Age of Patient,<35
...,...,...,...,...,...,...,...,...,...,...
60785,2021,NaN,National,National,9999,Percentage of new patients having live-birth d...,Q311,40.1,Age of Patient,35-37
60786,2021,NaN,Other,National,9999,Percentage of new patients having live-birth d...,Q311,25.8,Age of Patient,38-40
60787,2021,NaN,National,National,9999,Percentage of new patients having live-birth d...,Q311,25.8,Age of Patient,38-40
60788,2021,NaN,Other,National,9999,Percentage of new patients having live-birth d...,Q311,8.5,Age of Patient,>40
60789,2021,NaN,National,National,9999,Percentage of new patients having live-birth d...,Q311,8.5,Age of Patient,>40

In [7]:
by_clinic = (
    df[['FacilityName', 'LocationAbbr', 'QuestionId', 'data_value_num']]
)
retrievals_transfers = (
    by_clinic.query('QuestionId == "Q305" or QuestionId == "Q308"')
              .groupby(['FacilityName', 'LocationAbbr', 'QuestionId'])
              .sum().unstack(level='QuestionId')
)
              
retrievals_transfers.columns = ['Retrievals', 'Transfers']
retrievals_transfers

,,Retrievals,Transfers
FacilityName,LocationAbbr,,
"ACFS Fertility, Arizona Associates for Reproductive Health",AZ,151.0,86.0
AHN Center for Reproductive Medicine,PA,175.0,134.0
"Advanced Fertility Associates Medical Group, Inc.",CA,78.0,95.0
"Advanced Fertility Care, PLLC",AZ,220.0,165.0
Advanced Fertility Center of Chicago,IL,525.0,532.0
...,...,...,...
Wisconsin Fertility Institute,WI,148.0,198.0
Womack Army Medical Center,NC,75.0,101.0
Women & Infants Fertility Center,RI,364.0,371.0
Yale Fertility Center,CT,322.0,277.0
Zouves Fertility Center,CA,181.0,69.0

In [8]:
(retrievals_transfers.query('LocationAbbr == "AL"')[['Retrievals', 'Transfers']]
     .sum().rename('Totals')
 )

Retrievals    486.0
Transfers     467.0
Name: Totals, dtype: float64

In [9]:
live_birth_questions = ['Q311', 'Q312', 'Q313']
live_birth_category_means = (
    by_clinic.query('QuestionId in @live_birth_questions').drop(columns=['FacilityName'])
             .groupby(['LocationAbbr', 'QuestionId']).mean().unstack(level='QuestionId')
)
live_birth_category_means.columns = ['1 xfer', '1 or 2 xfers', 'all xfers']
with pd.option_context('display.max_rows', None):
    display(live_birth_category_means)

                 1 xfer  1 or 2 xfers  all xfers
LocationAbbr
AK             0.000000      0.000000   0.000000
AL             9.500000     10.565000  10.565000
AR            21.525000     23.325000  23.325000
AZ            21.051923     23.559615  24.032692
CA            14.701282     17.671154  18.632692
CO            24.332143     28.100000  28.796429
CT            27.220833     32.129167  33.895833
DC            20.475000     24.237500  25.337500
DE            21.100000     23.037500  23.037500
FL            17.898077     20.058654  20.339423
GA            20.322500     23.080000  23.650000
HI             8.933333      9.445833   9.533333
IA            37.125000     41.875000  43.137500
ID            26.075000     28.650000  29.000000
IL            18.536458     22.397917  24.000000
IN            17.296429     19.028571  19.246429
KS            22.295000     24.485000  24.805000
KY            13.350000     14.087500  14.175000
LA            26.656250     29.987500  30.725000
MA            32.984375     38.328125  39.609375
MD            19.804167     24.170833  25.587500
ME            38.800000     44.600000  44.600000
MI            23.141667     26.794444  27.572222
MN            33.090000     39.100000  39.915000
MO            19.925000     22.814286  23.917857
MS             8.600000      9.916667   9.916667
MT            25.625000     27.000000  27.750000
NC            29.000000     31.554545  32.311364
ND            25.600000     27.025000  27.025000
NE            20.612500     26.075000  28.237500
NH             0.000000      0.000000   0.000000
NJ            23.843333     28.061667  29.215000
NM            22.587500     25.800000  26.587500
NV            24.691667     28.504167  29.333333
NY            17.517778     21.139444  22.644444
OH            25.572727     29.165909  30.077273
OK            12.268750     12.981250  13.075000
OR            25.243750     29.131250  29.556250
PA            22.466667     26.404167  27.091667
PR             7.783333      8.341667   8.341667
RI            26.675000     31.500000  32.075000
SC            31.541667     36.891667  37.516667
SD            16.850000     19.500000  20.575000
TN            18.143750     21.315625  22.128125
TX            17.692442     20.033140  20.560465
UT            29.068750     32.281250  32.787500
VA            16.111364     18.784091  20.386364
VT            14.550000     18.525000  18.750000
WA            18.031818     21.888636  23.236364
WI            15.350000     17.654167  18.000000
WV             6.562500      6.875000   6.875000