In [4]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

with open('data/nmw.pickle', 'rb') as fh:
    nmw_df = pickle.load(fh)

nmw_df

                  MIN_WAGE
STATE DATE
SD    1970-01-01      1.00
      1971-01-01      1.00
      1972-01-01      1.00
      1973-01-01      1.00
      1974-01-01      1.00
...                    ...
ID    2020-01-01      7.25
      2021-01-01      7.25
      2022-01-01      7.25
      2023-01-01      7.25
      2024-01-01      7.25

[2458 rows x 1 columns]

In [5]:
nmw_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2458 entries, ('SD', Timestamp('1970-01-01 00:00:00')) to ('ID', Timestamp('2024-01-01 00:00:00'))
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MIN_WAGE  2458 non-null   float64
dtypes: float64(1)
memory usage: 24.9+ KB

In [6]:
nmw_df.index

MultiIndex([('SD', '1970-01-01'),
            ('SD', '1971-01-01'),
            ('SD', '1972-01-01'),
            ('SD', '1973-01-01'),
            ('SD', '1974-01-01'),
            ('SD', '1975-01-01'),
            ('SD', '1976-01-01'),
            ('SD', '1977-01-01'),
            ('SD', '1978-01-01'),
            ('SD', '1979-01-01'),
            ...
            ('ID', '2015-01-01'),
            ('ID', '2016-01-01'),
            ('ID', '2017-01-01'),
            ('ID', '2018-01-01'),
            ('ID', '2019-01-01'),
            ('ID', '2020-01-01'),
            ('ID', '2021-01-01'),
            ('ID', '2022-01-01'),
            ('ID', '2023-01-01'),
            ('ID', '2024-01-01')],
           names=['STATE', 'DATE'], length=2458)

In [9]:
nmw_df.resample('10Y', level='DATE').mean()

             MIN_WAGE
DATE
1968-12-31   1.289706
1978-12-31   1.615630
1988-12-31   2.720476
1998-12-31   3.991514
2008-12-31   5.549079
2018-12-31   7.731283
2028-12-31  10.076734