In [1]:
import pandas as pd
import numpy as np
import pyarrow as prw

In [2]:
df = pd.read_csv(
    './data/EV-data.csv', dtype_backend='pyarrow', engine='pyarrow'
).query('region != "World" and parameter in ["EV sales", "EV stock"]')
df

,region,category,parameter,mode,powertrain,year,unit,value
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.0
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.0
5,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.0
8,Australia,Historical,EV stock,Cars,PHEV,2012,Vehicles,80.0
...,...,...,...,...,...,...,...,...
3638,USA,Historical,EV stock,Cars,PHEV,2023,Vehicles,1300000.0
3640,USA,Historical,EV stock,Cars,FCEV,2023,Vehicles,18000.0
3641,USA,Historical,EV sales,Cars,FCEV,2023,Vehicles,3000.0
3642,USA,Historical,EV stock,Cars,BEV,2023,Vehicles,3500000.0
3643,USA,Historical,EV sales,Cars,BEV,2023,Vehicles,1100000.0

In [3]:
bev_df = (
    df.query('powertrain == "BEV" and parameter ==  "EV sales"').loc[:, ['region', 'year', 'value']]
      .groupby(by=['region', 'year']).sum()
)
bev_df

                        value
region         year
Australia      2011      49.0
               2012     170.0
               2013     190.0
               2014     370.0
               2015     760.0
...                       ...
United Kingdom 2019   38000.0
               2020  110000.0
               2021  190000.0
               2022  270000.0
               2023  310000.0

[590 rows x 1 columns]

In [4]:
sales_df = (
    df.query('parameter ==  "EV sales" and year in [2019, 2023]').loc[:, ['region', 'year', 'value']]
      .groupby(by=['region', 'year']).sum().groupby('region').pct_change()
      .sort_values(by='value', ascending=False)
)
sales_df

                                value
region               year
United Arab Emirates 2023  306.446809
Turkiye              2023  211.037037
India                2023  118.752547
Cyprus               2023   55.521739
Greece               2023   34.416667
...                               ...
Switzerland          2019        <NA>
Turkiye              2019        <NA>
USA                  2019        <NA>
United Arab Emirates 2019        <NA>
United Kingdom       2019        <NA>

[102 rows x 1 columns]

In [5]:
bev_df2 = (
    df.query('powertrain == "BEV"').set_index(['region', 'year']).loc[:, ['parameter', 'value']]
       .pivot(columns='parameter')
)
bev_df2.columns = ['EV sales', 'EV stock']
bev_df2['% sold'] = bev_df2['EV sales']/bev_df2['EV stock']
bev_df2

                     EV sales  EV stock    % sold
region         year
Australia      2011      49.0      49.0       1.0
               2012     170.0     220.0  0.772727
               2013     190.0     410.0  0.463415
               2014     370.0     780.0  0.474359
               2015     760.0    1500.0  0.506667
...                       ...       ...       ...
United Kingdom 2019   38000.0   91000.0  0.417582
               2020  110000.0  190000.0  0.578947
               2021  190000.0  380000.0       0.5
               2022  270000.0  550000.0  0.490909
               2023  310000.0  980000.0  0.316327

[598 rows x 3 columns]

In [6]:
bev_df2[bev_df2['% sold'] == 1.0]

                   EV sales  EV stock  % sold
region       year
Australia    2011      49.0      49.0     1.0
Brazil       2014      61.0      61.0     1.0
Chile        2011       6.0       6.0     1.0
Greece       2013       3.0       3.0     1.0
Korea        2010      61.0      61.0     1.0
             2018   55000.0   55000.0     1.0
Mexico       2011       3.0       3.0     1.0
South Africa 2013      34.0      34.0     1.0
Spain        2010      76.0      76.0     1.0
Sweden       2010       4.0       4.0     1.0
             2011     180.0     180.0     1.0
Switzerland  2011     400.0     400.0     1.0

In [7]:
bev_df2[bev_df2['% sold'] < 0.1]

                 EV sales  EV stock    % sold
region     year
Costa Rica 2015       4.0     140.0  0.028571
           2016      12.0     160.0     0.075
Denmark    2017     710.0    8800.0  0.080682
India      2012     190.0    2800.0  0.067857
           2019     680.0    8600.0   0.07907
Israel     2011       3.0      85.0  0.035294
           2014       6.0    1200.0     0.005
           2015       3.0    1200.0    0.0025
           2016       5.0    1200.0  0.004167
           2017     130.0    1400.0  0.092857
           2018     130.0    1500.0  0.086667
Italy      2010      40.0     650.0  0.061538
Poland     2015      70.0    2500.0     0.028
           2016     110.0    2600.0  0.042308
Portugal   2010      13.0     720.0  0.018056
           2012      54.0     960.0   0.05625

In [8]:
bev_df2.index

MultiIndex([(     'Australia', 2011),
            (     'Australia', 2012),
            (     'Australia', 2013),
            (     'Australia', 2014),
            (     'Australia', 2015),
            (     'Australia', 2016),
            (     'Australia', 2017),
            (     'Australia', 2018),
            (     'Australia', 2019),
            (     'Australia', 2020),
            ...
            ('United Kingdom', 2014),
            ('United Kingdom', 2015),
            ('United Kingdom', 2016),
            ('United Kingdom', 2017),
            ('United Kingdom', 2018),
            ('United Kingdom', 2019),
            ('United Kingdom', 2020),
            ('United Kingdom', 2021),
            ('United Kingdom', 2022),
            ('United Kingdom', 2023)],
           names=['region', 'year'], length=598)

In [9]:
bev_df2.loc[:, ['% sold']].groupby('region').mean().sort_values(by='% sold', ascending=False)

                        % sold
region
Brazil                0.597556
Sweden                0.547542
Korea                 0.540066
China                 0.527578
Greece                0.524149
Iceland                0.51891
Germany               0.515133
Belgium               0.511249
Australia             0.509556
New Zealand            0.48383
Canada                0.472746
Mexico                0.470482
Spain                 0.461403
Netherlands           0.441469
Switzerland           0.436222
France                0.436134
EU27                  0.413793
United Kingdom        0.408701
Chile                 0.403045
Europe                0.395114
Finland               0.391805
USA                   0.384041
Rest of the world     0.383455
South Africa          0.382541
Denmark               0.372616
Austria               0.359467
Costa Rica            0.341232
Italy                 0.340381
Norway                0.334612
Israel                0.333586
Turkiye               0.333446
India                 0.333311
Japan                 0.301969
Portugal              0.279091
Poland                0.251607
Bulgaria                  <NA>
Colombia                  <NA>
Croatia                   <NA>
Cyprus                    <NA>
Czech Republic            <NA>
Estonia                   <NA>
Hungary                   <NA>
Ireland                   <NA>
Latvia                    <NA>
Lithuania                 <NA>
Luxembourg                <NA>
Romania                   <NA>
Seychelles                <NA>
Slovakia                  <NA>
Slovenia                  <NA>
United Arab Emirates      <NA>

In [10]:
def style_pct_sold(v):
    lo_red, hi_green = 'background-color: #ffe6e6;', 'background-color: #e6ffe6;'
    if v < 0.1:
        sty = lo_red
    elif v > 0.75:
        sty = hi_green
    else:
        sty = None
    #print(f'v={v} ({type(v)}) sty={sty}')
    return sty

col = ['% sold']
bev_df2.style.map(style_pct_sold, subset=['% sold'])

In [11]:
with pd.option_context('display.max_rows', None):
    print(bev_df2)

                            EV sales    EV stock    % sold
region               year
Australia            2011       49.0        49.0       1.0
                     2012      170.0       220.0  0.772727
                     2013      190.0       410.0  0.463415
                     2014      370.0       780.0  0.474359
                     2015      760.0      1500.0  0.506667
                     2016      670.0      2200.0  0.304545
                     2017     1200.0      3400.0  0.352941
                     2018     1800.0      5200.0  0.346154
                     2019     6300.0     12000.0     0.525
                     2020     5200.0     17000.0  0.305882
                     2021    17000.0     34000.0       0.5
                     2022    33000.0     67000.0  0.492537
                     2023    87000.0    150000.0      0.58
Austria              2010       <NA>       350.0      <NA>
                     2011       <NA>       990.0      <NA>
                     2012       <NA>      1400.0      <NA>
                     2013      650.0      2100.0  0.309524
                     2014     1700.0      3400.0       0.5
                     2015     1700.0      5000.0      0.34
                     2016     3800.0      9100.0  0.417582
                     2017     5400.0     15000.0      0.36
                     2018     6800.0     21000.0   0.32381
                     2019     9300.0     30000.0      0.31
                     2020    16000.0     45000.0  0.355556
                     2021    33000.0     77000.0  0.428571
                     2022    34000.0    110000.0  0.309091
                     2023    48000.0    160000.0       0.3
Belgium              2010       48.0        61.0  0.786885
                     2011      280.0       320.0     0.875
                     2012      570.0       830.0  0.686747
                     2013      500.0      1200.0  0.416667
                     2014     1300.0      2200.0  0.590909
                     2015     1400.0      3300.0  0.424242
                     2016     2100.0      5200.0  0.403846
                     2017     2700.0      7500.0      0.36
                     2018     3600.0     11000.0  0.327273
                     2019     8800.0     19000.0  0.463158
                     2020    15000.0     32000.0   0.46875
                     2021    23000.0     52000.0  0.442308
                     2022    38000.0     90000.0  0.422222
                     2023    93000.0    190000.0  0.489474
Brazil               2010       10.0        <NA>      <NA>
                     2011        8.0        <NA>      <NA>
                     2012       22.0        <NA>      <NA>
                     2013       39.0        <NA>      <NA>
                     2014       61.0        61.0       1.0
                     2015       61.0       120.0  0.508333
                     2016      130.0       250.0      0.52
                     2017      140.0       320.0    0.4375
                     2018      180.0       350.0  0.514286
                     2019      540.0       890.0  0.606742
                     2020      800.0      1600.0       0.5
                     2021     2900.0      4400.0  0.659091
                     2022     8500.0     13000.0  0.653846
                     2023    19000.0     33000.0  0.575758
Bulgaria             2015       21.0        <NA>      <NA>
                     2016        5.0        <NA>      <NA>
                     2017       68.0        <NA>      <NA>
                     2018      190.0        <NA>      <NA>
                     2019      180.0        <NA>      <NA>
                     2020      140.0        <NA>      <NA>
                     2021      430.0        <NA>      <NA>
                     2022     1000.0        <NA>      <NA>
                     2023     1800.0        <NA>      <NA>
Canada               2011      220.0       250.0      0.88
                     2012      620.0       830.0  0.746988
                     2013     1600.0      2400.0  0.666667
                     2014     2800.0      5400.0  0.518519
                     2015     4400.0      9900.0  0.444444
                     2016     5200.0     15000.0  0.346667
                     2017     8700.0     25000.0     0.348
                     2018    23000.0     45000.0  0.511111
                     2019    32000.0     76000.0  0.421053
                     2020    37000.0    130000.0  0.284615
                     2021    59000.0    190000.0  0.310526
                     2022    91000.0    280000.0     0.325
                     2023   130000.0    380000.0  0.342105
Chile                2011        6.0         6.0       1.0
                     2012        5.0        11.0  0.454545
                     2013        5.0        16.0    0.3125
                     2014        3.0        19.0  0.157895
                     2015       10.0        32.0    0.3125
                     2016       18.0        54.0  0.333333
                     2017      120.0       170.0  0.705882
                     2018      100.0       280.0  0.357143
                     2019      160.0       440.0  0.363636
                     2020      110.0       550.0       0.2
                     2021      270.0       820.0  0.329268
                     2022      880.0      1700.0  0.517647
                     2023      410.0      2100.0  0.195238
China                2010     1100.0      1600.0    0.6875
                     2011     4800.0      6300.0  0.761905
                     2012     9600.0     16000.0       0.6
                     2013    15000.0     31000.0  0.483871
                     2014    49000.0     59000.0  0.830508
                     2015   150000.0    210000.0  0.714286
                     2016   260000.0    460000.0  0.565217
                     2017   470000.0    930000.0  0.505376
                     2018   820000.0   1700000.0  0.482353
                     2019   830000.0   2600000.0  0.319231
                     2020   920000.0   3500000.0  0.262857
                     2021  2700000.0   6200000.0  0.435484
                     2022  4400000.0  11000000.0       0.4
                     2023  5400000.0  16000000.0    0.3375
Colombia             2015       39.0        <NA>      <NA>
                     2016       28.0        <NA>      <NA>
                     2017       92.0        <NA>      <NA>
                     2018      250.0        <NA>      <NA>
                     2019      870.0        <NA>      <NA>
                     2020      480.0        <NA>      <NA>
                     2021      840.0        <NA>      <NA>
                     2022     1900.0        <NA>      <NA>
                     2023     3600.0        <NA>      <NA>
Costa Rica           2015        4.0       140.0  0.028571
                     2016       12.0       160.0     0.075
                     2017       25.0       180.0  0.138889
                     2018      200.0       380.0  0.526316
                     2019      460.0       840.0  0.547619
                     2020      630.0      1500.0      0.42
                     2021     1000.0      2500.0       0.4
                     2022     1600.0      4100.0  0.390244
                     2023     4900.0      9000.0  0.544444
Croatia              2019      190.0        <NA>      <NA>
                     2020      530.0        <NA>      <NA>
                     2021     1400.0        <NA>      <NA>
                     2022     1400.0        <NA>      <NA>
                     2023     1600.0        <NA>      <NA>
Cyprus               2019       23.0        <NA>      <NA>
                     2020       42.0        <NA>      <NA>
                     2021       84.0        <NA>      <NA>
                     2022      400.0        <NA>      <NA>
                     2023      790.0        <NA>      <NA>
Czech Republic       2015      300.0        <NA>      <NA>
                     2016      200.0        <NA>      <NA>
                     2017      390.0        <NA>      <NA>
                     2018      700.0        <NA>      <NA>
                     2019      760.0        <NA>      <NA>
                     2020     3300.0        <NA>      <NA>
                     2021     2700.0        <NA>      <NA>
                     2022     3900.0        <NA>      <NA>
                     2023     6700.0        <NA>      <NA>
Denmark              2010       <NA>        59.0      <NA>
                     2011      420.0       480.0     0.875
                     2012      490.0      1200.0  0.408333
                     2013      500.0      1500.0  0.333333
                     2014     1600.0      2900.0  0.551724
                     2015     4300.0      7900.0  0.544304
                     2016     1300.0      8700.0  0.149425
                     2017      710.0      8800.0  0.080682
                     2018     1500.0     10000.0      0.15
                     2019     5500.0     16000.0   0.34375
                     2020    14000.0     32000.0    0.4375
                     2021    25000.0     67000.0  0.373134
                     2022    31000.0    110000.0  0.281818
                     2023    63000.0    200000.0     0.315
EU27                 2010     1100.0      4900.0   0.22449
                     2011     7100.0     12000.0  0.591667
                     2012    12000.0     23000.0  0.521739
                     2013    21000.0     44000.0  0.477273
                     2014    33000.0     75000.0      0.44
                     2015    49000.0    120000.0  0.408333
                     2016    54000.0    170000.0  0.317647
                     2017    85000.0    250000.0      0.34
                     2018   140000.0    370000.0  0.378378
                     2019   250000.0    610000.0  0.409836
                     2020   540000.0   1100000.0  0.490909
                     2021   890000.0   2000000.0     0.445
                     2022  1200000.0   3000000.0       0.4
                     2023  1600000.0   4600000.0  0.347826
Estonia              2015       34.0        <NA>      <NA>
                     2016       35.0        <NA>      <NA>
                     2017       26.0        <NA>      <NA>
                     2018       85.0        <NA>      <NA>
                     2019       80.0        <NA>      <NA>
                     2020      340.0        <NA>      <NA>
                     2021      480.0        <NA>      <NA>
                     2022      730.0        <NA>      <NA>
                     2023     1400.0        <NA>      <NA>
Europe               2010     1700.0      9800.0  0.173469
                     2011    11000.0     20000.0      0.55
                     2012    19000.0     37000.0  0.513514
                     2013    33000.0     68000.0  0.485294
                     2014    62000.0    130000.0  0.476923
                     2015    89000.0    210000.0   0.42381
                     2016    93000.0    300000.0      0.31
                     2017   140000.0    430000.0  0.325581
                     2018   210000.0    620000.0   0.33871
                     2019   370000.0    970000.0  0.381443
                     2020   760000.0   1700000.0  0.447059
                     2021  1200000.0   2900000.0  0.413793
                     2022  1600000.0   4400000.0  0.363636
                     2023  2200000.0   6700000.0  0.328358
Finland              2011       30.0        56.0  0.535714
                     2012       51.0       110.0  0.463636
                     2013       50.0       170.0  0.294118
                     2014      180.0       360.0       0.5
                     2015      240.0       610.0  0.393443
                     2016      220.0       840.0  0.261905
                     2017      500.0      1400.0  0.357143
                     2018      780.0      2400.0     0.325
                     2019     1900.0      4700.0  0.404255
                     2020     4200.0      9700.0   0.43299
                     2021    10000.0     23000.0  0.434783
                     2022    15000.0     45000.0  0.333333
                     2023    30000.0     84000.0  0.357143
France               2010      190.0       300.0  0.633333
                     2011     2600.0      2900.0  0.896552
                     2012     5700.0      8600.0  0.662791
                     2013     8900.0     17000.0  0.523529
                     2014    11000.0     28000.0  0.392857
                     2015    18000.0     45000.0       0.4
                     2016    23000.0     67000.0  0.343284
                     2017    26000.0     93000.0   0.27957
                     2018    33000.0    120000.0     0.275
                     2019    45000.0    170000.0  0.264706
                     2020   110000.0    280000.0  0.392857
                     2021   170000.0    440000.0  0.386364
                     2022   210000.0    620000.0   0.33871
                     2023   310000.0    980000.0  0.316327
Germany              2010      140.0       250.0      0.56
                     2011     1400.0      1600.0     0.875
                     2012     2200.0      3900.0  0.564103
                     2013     5200.0      9200.0  0.565217
                     2014     9100.0     18000.0  0.505556
                     2015    12000.0     26000.0  0.461538
                     2016    11000.0     34000.0  0.323529
                     2017    25000.0     54000.0  0.462963
                     2018    36000.0     83000.0  0.433735
                     2019    63000.0    140000.0      0.45
                     2020   190000.0    310000.0  0.612903
                     2021   360000.0    620000.0  0.580645
                     2022   470000.0   1000000.0      0.47
                     2023   520000.0   1500000.0  0.346667
Greece               2013        3.0         3.0       1.0
                     2014       39.0        42.0  0.928571
                     2015       35.0        97.0  0.360825
                     2016       41.0       140.0  0.292857
                     2017       50.0       190.0  0.263158
                     2018       88.0       280.0  0.314286
                     2019      190.0       470.0  0.404255
                     2020      680.0      1100.0  0.618182
                     2021     2200.0      3300.0  0.666667
                     2022     2800.0      7400.0  0.378378
                     2023     7000.0     13000.0  0.538462
Hungary              2015      120.0        <NA>      <NA>
                     2016      170.0        <NA>      <NA>
                     2017      750.0        <NA>      <NA>
                     2018     1300.0        <NA>      <NA>
                     2019     1800.0        <NA>      <NA>
                     2020     3000.0        <NA>      <NA>
                     2021     4300.0        <NA>      <NA>
                     2022     4700.0        <NA>      <NA>
                     2023     5800.0        <NA>      <NA>
Iceland              2010       <NA>        14.0      <NA>
                     2011       <NA>        14.0      <NA>
                     2012       17.0        31.0  0.548387
                     2013       80.0       110.0  0.727273
                     2014      200.0       240.0  0.833333
                     2015      390.0       570.0  0.684211
                     2016      380.0       960.0  0.395833
                     2017      840.0      1700.0  0.494118
                     2018      780.0      2400.0     0.325
                     2019     1100.0      3500.0  0.314286
                     2020     2500.0      5400.0  0.462963
                     2021     4200.0      8500.0  0.494118
                     2022     6900.0     14000.0  0.492857
                     2023    10000.0     22000.0  0.454545
India                2010      450.0       880.0  0.511364
                     2011     1400.0      1300.0  1.076923
                     2012      190.0      2800.0  0.067857
                     2013      410.0      2900.0  0.141379
                     2014     1000.0      3400.0  0.294118
                     2015      450.0      4400.0  0.102273
                     2016      730.0      4800.0  0.152083
                     2017      920.0      7000.0  0.131429
                     2018      920.0      7900.0  0.116456
                     2019      680.0      8600.0   0.07907
                     2020     3100.0     12000.0  0.258333
                     2021    12000.0     23000.0  0.521739
                     2022    48000.0     72000.0  0.666667
                     2023    82000.0    150000.0  0.546667
Ireland              2015      470.0        <NA>      <NA>
                     2016      390.0        <NA>      <NA>
                     2017      620.0        <NA>      <NA>
                     2018     1200.0        <NA>      <NA>
                     2019     3400.0        <NA>      <NA>
                     2020     4000.0        <NA>      <NA>
                     2021     8600.0        <NA>      <NA>
                     2022    16000.0        <NA>      <NA>
                     2023    23000.0        <NA>      <NA>
Israel               2010       <NA>         6.0      <NA>
                     2011        3.0        85.0  0.035294
                     2012      600.0       610.0  0.983607
                     2013      460.0      1000.0      0.46
                     2014        6.0      1200.0     0.005
                     2015        3.0      1200.0    0.0025
                     2016        5.0      1200.0  0.004167
                     2017      130.0      1400.0  0.092857
                     2018      130.0      1500.0  0.086667
                     2019      850.0      2200.0  0.386364
                     2020     1500.0      3800.0  0.394737
                     2021    11000.0     15000.0  0.733333
                     2022    27000.0     44000.0  0.613636
                     2023    49000.0     91000.0  0.538462
Italy                2010       40.0       650.0  0.061538
                     2011      110.0       760.0  0.144737
                     2012      460.0      1200.0  0.383333
                     2013      860.0      2000.0      0.43
                     2014     1000.0      3100.0  0.322581
                     2015     1500.0      4400.0  0.340909
                     2016     1400.0      5800.0  0.241379
                     2017     2000.0      7800.0   0.25641
                     2018     5000.0     13000.0  0.384615
                     2019    11000.0     23000.0  0.478261
                     2020    33000.0     55000.0       0.6
                     2021    67000.0    120000.0  0.558333
                     2022    49000.0    170000.0  0.288235
                     2023    66000.0    240000.0     0.275
Japan                2010     2400.0      3500.0  0.685714
                     2011    13000.0     16000.0    0.8125
                     2012    13000.0     30000.0  0.433333
                     2013    15000.0     44000.0  0.340909
                     2014    16000.0     70000.0  0.228571
                     2015    10000.0     79000.0  0.126582
                     2016    15000.0     88000.0  0.170455
                     2017    18000.0    100000.0      0.18
                     2018    27000.0    110000.0  0.245455
                     2019    21000.0    120000.0     0.175
                     2020    15000.0    140000.0  0.107143
                     2021    22000.0    160000.0    0.1375
                     2022    59000.0    210000.0  0.280952
                     2023    88000.0    290000.0  0.303448
Korea                2010       61.0        61.0       1.0
                     2011      270.0       340.0  0.794118
                     2012      510.0       850.0       0.6
                     2013      600.0      1400.0  0.428571
                     2014     1300.0      2700.0  0.481481