In [1]:
import pandas as pd
import xml.etree.ElementTree as ET
import xmltodict

with open('./data/WEO_PUB_APR2024.xml', 'r') as fh:
    data = xmltodict.parse(fh.read())


for v in data.values():
    for k, v1 in v.items():
        print(f'Key: {k}')
        if k == 'message:DataSet':
            all_keys = set()
            for mem in v1['Series']:
                all_keys = all_keys.union(mem.keys())
            df_map = {
                k1: [x.get(k1, pd.NA) for x in v1['Series']]
                for k1 in all_keys
            }



print(all_keys)
df = pd.DataFrame.from_dict(df_map)
df = (
    df.set_index([k for k in all_keys if k != 'Obs'])
      .explode('Obs').reset_index()
)
for x in ['@TIME_PERIOD', '@OBS_VALUE']:
    df[x] = df['Obs'].apply(lambda obs: obs[x])
df = df.drop('Obs', axis=1)
print(df)
for col in df.columns:
    print(df.loc[0, col])

Key: @xmlns:ss
Key: @xmlns:footer
Key: @xmlns:ns1
Key: @xmlns:message
Key: @xmlns:common
Key: @xmlns:xsi
Key: @xmlns:xml
Key: message:Header
Key: message:DataSet
{'@CONCEPT', 'Obs', '@REF_AREA', '@SCALE', '@LASTACTUALDATE', '@FREQ', '@UNIT', '@NOTES'}
       @CONCEPT @REF_AREA @SCALE @LASTACTUALDATE @FREQ @UNIT  \
0        NGDP_D       111      1            2023     A     B
1        NGDP_D       111      1            2023     A     B
2        NGDP_D       111      1            2023     A     B
3        NGDP_D       111      1            2023     A     B
4        NGDP_D       111      1            2023     A     B
...         ...       ...    ...             ...   ...   ...
520795   PWOOLW       998      1             NaN     A     U
520796   PWOOLW       998      1             NaN     A     U
520797   PWOOLW       998      1             NaN     A     U
520798   PWOOLW       998      1             NaN     A     U
520799   PWOOLW       998      1             NaN     A     U

                                                   @NOTES @TIME_PERIOD  \
0       See notes for:  Gross domestic product, consta...         1980
1       See notes for:  Gross domestic product, consta...         1981
2       See notes for:  Gross domestic product, consta...         1982
3       See notes for:  Gross domestic product, consta...         1983
4       See notes for:  Gross domestic product, consta...         1984
...                                                   ...          ...
520795                                                NaN         2025
520796                                                NaN         2026
520797                                                NaN         2027
520798                                                NaN         2028
520799                                                NaN         2029

       @OBS_VALUE
0          39.372
1          43.097
2           45.76
3          47.552
4          49.268
...           ...
520795        n/a
520796        n/a
520797        n/a
520798        n/a
520799        n/a

[520800 rows x 9 columns]
NGDP_D
111
1
2023
A
B
See notes for:  Gross domestic product, constant prices (National currency) Gross domestic product, current prices (National currency).
1980
39.372

In [2]:
df

,@CONCEPT,@REF_AREA,@SCALE,@LASTACTUALDATE,@FREQ,@UNIT,@NOTES,@TIME_PERIOD,@OBS_VALUE
0,NGDP_D,111,1,2023,A,B,"See notes for: Gross domestic product, consta...",1980,39.372
1,NGDP_D,111,1,2023,A,B,"See notes for: Gross domestic product, consta...",1981,43.097
2,NGDP_D,111,1,2023,A,B,"See notes for: Gross domestic product, consta...",1982,45.76
3,NGDP_D,111,1,2023,A,B,"See notes for: Gross domestic product, consta...",1983,47.552
4,NGDP_D,111,1,2023,A,B,"See notes for: Gross domestic product, consta...",1984,49.268
...,...,...,...,...,...,...,...,...,...
520795,PWOOLW,998,1,NaN,A,U,NaN,2025,n/a
520796,PWOOLW,998,1,NaN,A,U,NaN,2026,n/a
520797,PWOOLW,998,1,NaN,A,U,NaN,2027,n/a
520798,PWOOLW,998,1,NaN,A,U,NaN,2028,n/a
520799,PWOOLW,998,1,NaN,A,U,NaN,2029,n/a

In [4]:
df['@CONCEPT'].value_counts()

@CONCEPT
NGDP_D         10500
GGXWDN_NGDP    10500
TX_RPCH        10500
TXG_RPCH       10500
BCA_NGDPD      10500
               ...
BFP              700
BFO              700
BFF              700
BFD              700
PWOOLW           700
Name: count, Length: 145, dtype: int64

In [5]:
df['@REF_AREA'].value_counts()

@REF_AREA
998    6400
205    6400
001    6400
110    6400
123    6400
       ...
463    2200
466    2200
469    2200
474    2200
616    2200
Name: count, Length: 210, dtype: int64

In [6]:
df['@SCALE'].value_counts()

@SCALE
1             363300
1000000000    137900
1000000        19600
Name: count, dtype: int64

In [7]:
df['@UNIT'].value_counts()

@UNIT
E    117600
K     97300
H     75600
P     66500
B     29400
T     21000
L     21000
N     19600
U     15400
M     10500
G     10500
S     10500
O      9800
F      9800
J      2800
C      1400
I       700
Q       700
R       700
Name: count, dtype: int64

In [8]:
df['@NOTES'].value_counts()

@NOTES
See notes for:  Gross domestic product, current prices (National currency).                                                                                                                                                                                          39200
See notes for:  Gross domestic product, current prices (National currency) Population (Persons).                                                                                                                                                                     29400
See notes for:  Gross domestic product, constant prices (National currency) Population (Persons).                                                                                                                                                                    19550
See notes for:  Gross domestic product, constant prices (National currency).                                                                                                                                                                                         11150
See notes for:  Gross domestic product, constant prices (National currency) Gross domestic product, current prices (National currency).                                                                                                                               9800
                                                                                                                                                                                                                                                                     ...
Source: Ministry of Finance or Treasury. Department of Economic Planning and Statistics Latest actual data: 2022 Primary domestic currency: Brunei dollar Data last updated: 03/2024                                                                                    50
Source: International Financial Institution. World Development Indicators Latest actual data: FY2020/21 Primary domestic currency: Bhutanese ngultrum Data last updated: 03/2024                                                                                        50
Source: International Financial Institution Latest actual data: FY2019/20 Primary domestic currency: Bangladesh taka Data last updated: 03/2024                                                                                                                         50
Source: National Statistics Office Latest actual data: FY2022/23 Primary domestic currency: Afghan afghani Data last updated: 03/2024                                                                                                                                   50
Source: Central Bank. Formally, the National Bank of Romania. Latest actual data: 2023 BOP Manual used: Balance of Payments and International Investment Position Manual, sixth edition (BPM6) Primary domestic currency: Romanian leu Data last updated: 03/2024       50
Name: count, Length: 1258, dtype: int64

In [9]:
df['@TIME_PERIOD'].value_counts()

@TIME_PERIOD
1980    10416
2017    10416
2007    10416
2008    10416
2009    10416
2010    10416
2011    10416
2012    10416
2013    10416
2014    10416
2015    10416
2016    10416
2018    10416
1981    10416
2019    10416
2020    10416
2021    10416
2022    10416
2023    10416
2024    10416
2025    10416
2026    10416
2027    10416
2028    10416
2006    10416
2005    10416
2004    10416
2003    10416
1982    10416
1983    10416
1984    10416
1985    10416
1986    10416
1987    10416
1988    10416
1989    10416
1990    10416
1991    10416
1992    10416
1993    10416
1994    10416
1995    10416
1996    10416
1997    10416
1998    10416
1999    10416
2000    10416
2001    10416
2002    10416
2029    10416
Name: count, dtype: int64