In [8]:
import pandas as pd
import os
import pickle


wiki_countries_url = 'https://en.wikipedia.org/wiki/List_of_countries_'
area_url = f'{wiki_countries_url}and_dependencies_by_area'
population_url = f'{wiki_countries_url}by_population'

area_pickle_path = './data/areas.pickle'
if os.path.isfile(area_pickle_path):
    area_pickle_fh = open(area_pickle_path, 'rb')
    area_df = pickle.load(area_pickle_fh)
else:
    area_pickle_fh = open(area_pickle_path, 'wb')
    dfs = pd.read_html(area_url, match='Country / dependency')
    area_df = dfs[0].rename(columns={'Unnamed: 0': 'Size rank'}).iloc[:, :6]
    pickle.dump(area_df, area_pickle_fh)

In [10]:
area_df

,Size rank,Country / dependency,Total in km2 (mi2),Land in km2 (mi2),Water in km2 (mi2),% water
0,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8
1,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2
2,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0.0
3,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9
4,3/4 [e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8
...,...,...,...,...,...,...
259,–,Ashmore and Cartier Islands (Australia),5.0 (1.9),5.0 (1.9),0,0.0
260,–,Coral Sea Islands (Australia),3.0 (1.2),3.0 (1.2),0,0.0
261,–,Spratly Islands (disputed),2.0 (0.77),2.0 (0.77),0,0.0
262,194,Monaco,2.0 (0.77),2.0 (0.77),0,0.0
263,195,Vatican City,0.49 (0.19),0.49 (0.19),0,0.0

,Unnamed: 0,Country / dependency,Total in km2 (mi2),Land in km2 (mi2),Water in km2 (mi2),% water,Unnamed: 6
0,–,Earth,"510,072,000 (196,940,000)","148,940,000 (57,506,000)","361,132,000 (139,434,000)",70.8,NaN
1,1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2,[b]
2,–,Antarctica,"14,200,000 (5,480,000)","14,200,000 (5,480,000)",0,0.0,[c]
3,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9,[d]
4,3/4 [e],China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8,[f]
...,...,...,...,...,...,...,...
259,–,Ashmore and Cartier Islands (Australia),5.0 (1.9),5.0 (1.9),0,0.0,[q]
260,–,Coral Sea Islands (Australia),3.0 (1.2),3.0 (1.2),0,0.0,[db]
261,–,Spratly Islands (disputed),2.0 (0.77),2.0 (0.77),0,0.0,[52]
262,194,Monaco,2.0 (0.77),2.0 (0.77),0,0.0,[dc]
263,195,Vatican City,0.49 (0.19),0.49 (0.19),0,0.0,[dd]